<%if @game.current_turn == @game.players[0]%>
    <%= @game.players[0].name %> has attacked <%= @game.players[1].name %>
    <br>
    <%= @game.players[1].name %> lost 10 HP
<%else%>
    <%= @game.players[1].name %> has attacked <%= @game.players[0].name %>
    <br>
    <%= @game.players[0].name %> lost 10 HP
<%end%>
<br>
<form action="/switch-turns" method="post">
  <input type="submit" value="Ok">
</form>